[Unit]
Description=fuse haread-fs service
After=network.target

[Service]
Type=simple

ExecStartPre=-sh -c 'umount -l /lustre/storeAB || true'
ExecStart=/usr/bin/haread-fs /lustre/storeA,/lustre/storeB /lustre/storeAB -f -o allow_other

Restart=on-failure


[Install]
WantedBy=default.target
