Package: fuse-haread-fs-dbgsym
Package-Type: ddeb
Source: fuse-haread-fs
Version: 0.0.4-2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: espenm <>
Installed-Size: 31
Depends: fuse-haread-fs (= 0.0.4-2)
Section: debug
Priority: optional
Description: debug symbols for fuse-haread-fs
Build-Ids: da969ddaaacdd8d40271f69ab45e07a7b7c990c1
